.check-statement-passed
{
	background-color:rgba(0,255,0,0.125);
}

.check-statement-failed
{
	/* Add color background and transparancy */
	background-color:rgba(255,0,0,0.125);
}

.check-statement
{
	font-size:22pt;
	font-family: Helvatica;
	border: 1px solid black;
	
    /*background-color: #EFEFEF;*/
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    line-height: 45px;    
    /*margin-bottom: 30px;*/
    margin : 0px 30px 30px 30px;
    padding: 30px;
}

.bullet-failed-condition, .bullet-passed-condition
{
	list-style-type : none;
}

.bullet-failed-condition li:before,  .bullet-passed-condition li:before {
}


.bullet-failed-condition li:before {
    color: red; /* or whatever color you prefer */
	content:'\2022'; /* round */
	font-size:40pt;
    vertical-align : middle;
}
.bullet-passed-condition li:before {
	font-size:22pt;
	content:'\25A0'; /* square */
    color: green; /* or whatever color you prefer */
}

.passed-condition
{
	color : green;
}

.failed-condition
{
	color : red;	
}

.hide
{
	/* Permet de cacher meme si javascript est désactivé */
	display : none;
}


.javascript-enable-check
{	
}

.browser-detect
{

}

.popup-blocker-check
{
}

.ie-compatibilityMode-enable-check
{
}
